<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 定义数据源的信息 -->
	<bean id="dataSource"  
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName">  
            <value>com.mysql.jdbc.Driver</value>  
        </property>  
        <property name="url">  
            <value>jdbc:mysql://123.57.36.82:3306/nourriture?useUnicode=true&amp;characterEncoding=utf8</value>  
        </property>  
        <property name="username">  
            <value>root</value>  
        </property>  
        <property name="password">  
            <value>root</value>  
        </property>  
    </bean> 

	<!--定义Hibernate的SessionFactory -->
	<!-- SessionFactory使用的数据源为上面的数据源 -->
	<!-- 指定了Hibernate的映射文件和配置信息 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>edu/bjtu/nourriture_web/bean/Customer.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/Admin.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/ManuFacturer.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/Location.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/FoodCategory.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/RecipeCategory.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/Flavour.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/Food.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/Recipe.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/Comments.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/CookingStep.hbm.xml</value>
				<value>edu/bjtu/nourriture_web/bean/Region.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="show_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">20</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>  
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!--Dao -->
	<bean name="testDao" class="edu.bjtu.nourriture_web.dao.TestDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="adminDao" class="edu.bjtu.nourriture_web.dao.AdminDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="commentsDao" class="edu.bjtu.nourriture_web.dao.CommentsDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="cookingStepDao" class="edu.bjtu.nourriture_web.dao.CookingStepDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="customerDao" class="edu.bjtu.nourriture_web.dao.CustomerDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="flavourDao" class="edu.bjtu.nourriture_web.dao.FlavourDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="foodDao" class="edu.bjtu.nourriture_web.dao.FoodDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="foodCategoryDao" class="edu.bjtu.nourriture_web.dao.FoodCategoryDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="locationDao" class="edu.bjtu.nourriture_web.dao.LocationDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="manuFacturerDao" class="edu.bjtu.nourriture_web.dao.ManuFacturerDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="recipeDao" class="edu.bjtu.nourriture_web.dao.RecipeDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="recipeCategoryDao" class="edu.bjtu.nourriture_web.dao.RecipeCategoryDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>
	<bean name="regionDao" class="edu.bjtu.nourriture_web.dao.RegionDao">
	    <property name="sessionFactory" ref="sessionFactory"></property>  
	</bean>

	<!--业务逻辑类 -->
	<bean id="testService"
		class="edu.bjtu.nourriture_web.service.TestService">
		<property name="testDao" ref="testDao"></property>
	</bean>
	<bean id="adminService"
		class="edu.bjtu.nourriture_web.service.AdminService">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	<bean id="commentsService"
		class="edu.bjtu.nourriture_web.service.CommentsService">
		<property name="commentsDao" ref="commentsDao"></property>
	</bean>
	<bean id="cookingStepService"
		class="edu.bjtu.nourriture_web.service.CookingStepService">
		<property name="cookingStepDao" ref="cookingStepDao"></property>
	</bean>
	<bean id="customerService"
		class="edu.bjtu.nourriture_web.service.CustomerService">
		<property name="customerDao" ref="customerDao"></property>
	</bean>
	<bean id="flavourService"
		class="edu.bjtu.nourriture_web.service.FlavourService">
		<property name="flavourDao" ref="flavourDao"></property>
	</bean>
	<bean id="foodCategoryService"
		class="edu.bjtu.nourriture_web.service.FoodCategoryService">
		<property name="foodCategoryDao" ref="foodCategoryDao"></property>
	</bean>
	<bean id="foodService"
		class="edu.bjtu.nourriture_web.service.FoodService">
		<property name="foodDao" ref="foodDao"></property>
	</bean>
	<bean id="locationService"
		class="edu.bjtu.nourriture_web.service.LocationService">
		<property name="locationDao" ref="locationDao"></property>
	</bean>
	<bean id="manuFacturerService"
		class="edu.bjtu.nourriture_web.service.ManuFacturerService">
		<property name="manuFacturerDao" ref="manuFacturerDao"></property>
	</bean>
	<bean id="recipeCategoryService"
		class="edu.bjtu.nourriture_web.service.RecipeCategoryService">
		<property name="recipeCategoryDao" ref="recipeCategoryDao"></property>
	</bean>
	<bean id="recipeService"
		class="edu.bjtu.nourriture_web.service.RecipeService">
		<property name="recipeDao" ref="recipeDao"></property>
	</bean>

	<!-- Action -->
	<bean id="testAction"
		class="edu.bjtu.nourriture_web.action.TestAction">
		<property name="testService" ref="testService"></property>
	</bean>

	<!-- more bean definitions go here -->
    <bean id="adminRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.AdminRestfulService">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	<bean id="customerRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.CustomerRestfulService">
		<property name="customerDao" ref="customerDao"></property>
		<property name="flavourDao" ref="flavourDao"></property>
		<property name="foodCategoryDao" ref="foodCategoryDao"></property>
		<property name="recipeCategoryDao" ref="recipeCategoryDao"></property>
	</bean>
	<bean id="manuFacturerRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.ManuFacturerRestfulService">
		<property name="manuFacturerDao" ref="manuFacturerDao"></property>
		<property name="foodDao" ref="foodDao"></property>
		<property name="commentsDao" ref="commentsDao"></property>
	</bean>
    <bean id="recipeCategoryRestfulService" 
	class="edu.bjtu.nourriture_web.restfulservice.RecipeCategoryRestfulService">
		<property name="recipeCategoryDao" ref="recipeCategoryDao"></property>
	</bean>
		<bean id="regionRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.RegionRestfulService">
		<property name="regionDao" ref="regionDao"></property>
		</bean>
	<bean id="locationRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.LocationRestfulService">
		<property name="locationDao" ref="locationDao"></property>
		<property name="regionDao" ref="regionDao"></property>
	</bean>
		<bean id="foodRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.FoodRestfulService">
		<property name="foodDao" ref="foodDao"></property>
		<property name="foodCategoryDao" ref="foodCategoryDao"></property>
		<property name="flavourDao" ref="flavourDao"></property>
		<property name="manuFacturerDao" ref="manuFacturerDao"></property>
		<property name="locationDao" ref="locationDao"></property>
		<property name="customerDao" ref="customerDao"></property>
	</bean>
	    <bean id="flavourRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.FlavourRestfulService">
		<property name="flavourDao" ref="flavourDao"></property>
	</bean>
	    <bean id="foodcategoryRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.FoodCategoryRestfulService">
		<property name="foodCategoryDao" ref="foodCategoryDao"></property>
	</bean>
	    <bean id="cookingStepRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.CookingStepRestfulService">
		<property name="cookingStepDao" ref="cookingStepDao"></property>
		<property name="recipeDao" ref="recipeDao"></property>	
	</bean>
	    <bean id="recipeRestfulService"
		class="edu.bjtu.nourriture_web.restfulservice.RecipeRestfulService">
		<property name="recipeDao" ref="recipeDao"></property>
		<property name="customerDao" ref="customerDao"></property>
		<property name="recipeCategoryDao" ref="recipeCategoryDao"></property>
		
	</bean>
</beans>
