<!DOCTYPE HTML>
<html>
<head>
<title>Duhoot Bootstarp Website Template | Home :: w3layouts</title>
<link href="./css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="./css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript">
	
	
	
	
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 






</script>
<!--webfont-->
<!--<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>-->
<link href="./css/css.css" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="./js/angular.js"></script>
<script type="text/javascript" src="./js/angular-cookies.js"></script>
<script type="text/javascript" src="./js/angular/app.js"></script>
<script type="text/javascript" src="./js/angular/lrCtrl.js"></script>
<script type="text/javascript" src="./js/angular/searchCtrl.js"></script>
<script type="text/javascript" src="./js/login.js"></script>
<script type="text/javascript" src="./js/jquery.easydropdown.js"></script>
<!--Animation-->
<script type="text/javascript" src="./js/wow.min.js"></script>
<link href="./css/animate.css" rel='stylesheet' type='text/css' />
<script type="text/javascript">
	new WOW().init();
</script>
<link href="./css/mystyle.css" rel='stylesheet' type='text/css' />
</head>
<body ng-app="nourriture">
	<div class="header">
		<div class="header-left">
			<div class="logo">
				<a href="index.html"><img src="./images/logo.png" alt="" /></a>
			</div>
			<div class="menu">
				<a class="toggleMenu" href="#"><img src="./images/nav.png"
					alt="" /></a>
				<ul class="nav" id="nav">
					<li class="active"><a href="index.html">Food</a></li>
					<li><a href="company.html">Company</a></li>
					<li><a href="description.html">Description</a></li>
					<li><a href="entertain.html">Entertainment</a></li>
				</ul>
				<script type="text/javascript" src="./js/responsive-nav.js"></script>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="header_right">
			<!-- start search-->
			<div class="search-box">
				<div id="sb-search" class="sb-search">
					<form>
						<input class="sb-search-input"
							placeholder="Enter your search term..." type="search"
							name="search" id="search"> <input
							class="sb-search-submit" type="submit" value=""> <span
							class="sb-icon-search"> </span>
					</form>
				</div>
			</div>
			<!----search-scripts---->
			<script src="./js/classie.js"></script>
			<script src="./js/uisearch.js"></script>
			<script>
				new UISearch(document.getElementById('sb-search'));
			</script>
			<!----//search-scripts---->
			<div id="loginContainer" ng-controller="lr">
				<a href="#" id="loginButton"> <img src="./images/login.png">
					<span>{{ name }}</span>
				</a> <a href="#" ng-hide="loginBox" ng-click="logout()"> <span>Logout</span>
				</a> <a href="#" id="registerButton" ng-show="loginBox"> <span>Register</span>
				</a>
				<div id="loginBox" ng-show="loginBox">
					<form id="loginForm">
						<fieldset id="body">
							<fieldset ng-show="hintShow">
								<label for="username" style="color: red">{{ hint }}</label>
							</fieldset>
							<fieldset>
								<label for="username">User name</label> <input type="text"
									name="username" id="username" ng-model="username">
							</fieldset>
							<fieldset>
								<label for="password">Password</label> <input type="password"
									name="password" id="password" ng-model="password">
							</fieldset>
							<fieldset>
								<label for="identity">Identity</label> <select
									ng-model="identity">
									<option value="customer">customer</option>
									<option value="manafacture">manafacture</option>
								</select>
							</fieldset>
							<input type="button" ng-click="login()" id="login"
								value="Sign in">
						</fieldset>
					</form>
				</div>

				<div id="registerBox" ng-show="loginBox">
					<form id="registerForm">
						<fieldset id="body">
							<fieldset ng-show="rhintShow">
								<label for="username" style="color: red">{{ rhint }}</label>
							</fieldset>
							<fieldset>
								<label for="username">User name</label> <input type="text"
									name="username" id="username" ng-model="rusername">
							</fieldset>
							<fieldset>
								<label for="password">Password</label> <input type="password"
									name="password" id="password" ng-model="rpassword">
							</fieldset>
							<fieldset>
								<label for="password">Confirm Password</label> <input
									type="password" name="password" id="password">
							</fieldset>
							<fieldset>
								<label for="ridentity">Identity</label> <select
									ng-model="ridentity">
									<option value="customer">customer</option>
									<option value="manafacture">manafacture</option>
								</select>
							</fieldset>
							<input type="button" ng-click="register()" id="register"
								value="Register">
						</fieldset>
					</form>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="banner wow fadeInUp" data-wow-delay="0.4s"
		ng-controller="search">
		<div class="container_wrap">
			<h1>What are you looking for?</h1>
			<div class="dropdown-buttons">
				<div class="dropdown-button">
					<select class="dropdown" tabindex="9"
						data-settings='{"wrapperClass":"flat"}'>
						<option value="0">Beijing</option>
						<option value="1">Continuing</option>
					</select>
				</div>
				<div class="dropdown-button">
					<select class="dropdown" tabindex="9"
						data-settings='{"wrapperClass":"flat"}'>
						<option value="0">Chaoyang</option>
						<option value="1">Haidian</option>
						<option value="3">Dongcheng</option>
						<option value="4">Xicheng</option>
						<option value="5">Wangjing</option>
						<option value="6">Daxing</option>
					</select>
				</div>
			</div>
			<form>
				<input type="text" ng-model="foodname"
					value="Keyword, name, date, ..." onfocus="this.value = '';"
					onblur="if (this.value == '') {this.value = 'Keyword, name, date, ...';}">
				<div class="contact_btn" style="display:inline;">
					<a href="addcookstep.html" class="btn1 btn-2 btn-2g" >Add Recipe</a>
				</div>
				<div class="contact_btn">
					<label class="btn1 btn-2 btn-2g"> <input name="submit"
						type="submit" id="submit" value="Search" ng-click="search()" ng-model="submit"></label>
				</div>
				<fieldset ng-show="hintShow">
					<label for="submit" style="color: red">{{ hint }}</label>
				</fieldset>
			</form>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="content_top wow bounceInRight" data-wow-delay="0.4s">
		<div class="container">
			<div class="col-md-6 bottom_nav">
				<div class="content_menu">
					<ul>
						<li class="active"><a href="#">Recommended</a></li>
						<li><a href="#">Latest</a></li>
						<li><a href="#">Highlights</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 filter_grid">
				<ul class="filter">
					<li class="fil">Filter :</li>
					<li><a href=""> <i class="icon1"> </i>
					</a></li>
					<li><a href=""> <i class="icon2"> </i>
					</a></li>
					<li><a href=""> <i class="icon3"> </i>
					</a></li>
					<li><a href=""> <i class="icon4"> </i>
					</a></li>
					<li><a href=""> <i class="icon5"> </i>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content_middle wow bounceInLeft" data-wow-delay="0.4s">
		<div class="container">
			<div class="content_middle_box">
				<div class="top_grid top_grid1">
					<div class="col-md-3">
						<div class="grid1">
						<a href="fooddetail.html">
							<div class="view view-first">
								<div class="index_img">
									<img src="./images/pic1.jpg" class="img-responsive" alt="" />
								</div>
								<div class="sale">$2.980</div>
								<div class="mask">
									<div class="info">
										<i class="search"> </i> Show More
									</div>
									<ul class="mask_img">
										<li class="star"><img src="./images/star.png" alt="" /></li>
										<li class="set"><img src="./images/set.png" alt="" /></li>
										<div class="clearfix"></div>
									</ul>
								</div>
							</div>
							</a>
							<i class="home"></i>
							<div class="inner_wrap">
								<h3>2 bedroom house for rent in Dubai</h3>
								<ul class="star1">
									<h4 class="green">Vision Agency</h4>
									<li><a href="#"> <img src="./images/star1.png" alt="">(236)
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="grid1">
						<a href="fooddetail.html">
							<div class="view view-first">
								<div class="index_img1">
									<img src="./images/pic6.jpg" class="img-responsive" alt="" />
								</div>
								<div class="mask">
									<div class="info">
										<i class="search"> </i> Show More
									</div>
									<ul class="mask_img">
										<li class="star"><img src="./images/star.png" alt="" /></li>
										<li class="set"><img src="./images/set.png" alt="" /></li>
									</ul>
								</div>
							</div>
							</a>
							<i class="home1"> </i>
							<div class="inner_wrap">
								<h3>2 bedroom house for rent in Dubai</h3>
								<ul class="star1">
									<h4 class="yellow">Vision Agency</h4>
									<li><a href="#"> <img src="./images/star2.png" alt="">(136)
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="grid1">
						<a href="fooddetail.html">
							<div class="view view-first">
								<div class="index_img2">
									<img src="./images/pic2.jpg" class="img-responsive" alt="" />
								</div>
								<div class="mask">
									<div class="info">
										<i class="search"> </i> Show More
									</div>
									<ul class="mask_img">
										<li class="star"><img src="./images/star.png" alt="" /></li>
										<li class="set"><img src="./images/set.png" alt="" /></li>
										<div class="clearfix"></div>
									</ul>
								</div>
							</div>
							</a>
							<i class="home2"> </i>
							<div class="inner_wrap">
								<h3>2 bedroom house for rent in Dubai</h3>
								<ul class="star1">
									<h4 class="blue">Vision Agency</h4>
									<li><a href="#"> <img src="./images/star2.png" alt="">(136)
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="grid1">
						<a href="fooddetail.html">
							<div class="view view-first">
								<div class="index_img">
									<img src="./images/pic3.jpg" class="img-responsive" alt="" />
								</div>
								<div class="sale">$2.980</div>
								<div class="mask">
									<div class="info">
										<i class="search"> </i> Show More
									</div>
									<ul class="mask_img">
										<li class="star"><img src="./images/star.png" alt="" /></li>
										<li class="set"><img src="./images/set.png" alt="" /></li>
										<div class="clearfix"></div>
									</ul>
								</div>
							</div>
							</a>
							<i class="home"></i>
							<div class="inner_wrap">
								<h3>2 bedroom house for rent in Dubai</h3>
								<ul class="star1">
									<h4 class="green">Vision Agency</h4>
									<li><a href="#"> <img src="./images/star1.png" alt="">(236)
									</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="middle_grid wow fadeInUp" data-wow-delay="0.4s">
					<div class="col-md-6">
					<a href="fooddetail.html">
						<div class="grid1">
							<div class="index_img">
								<img src="./images/pic4.jpg" class="img-responsive" alt="" />
							</div>
							<i class="m_home"> </i>
							<ul class="vision">
								<li>Vision Agency</li>
								<li class="desc"><a href="#"> <img
										src="./images/star1.png" alt="">(236)
								</a></li>
							</ul>
							<div class="inner_wrap1">
								<ul class="item_module">
									<li class="module_left"><img src="./images/m1.jpg"
										class="img-responsive" alt="" /></li>
									<li class="module_right"><img src="./images/m_star.png"
										class="img-responsive" alt="" />
										<h5>Lucy-p</h5>
										<p>"Ut wisi enim ad minim veniam, quis nostrud exerci
											tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
											commodo consequat."</p> <a href="#" class="content_btn">....read
											more</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						</a>
					</div>
					<div class="col-md-6">
					<a href="fooddetail.html">
						<div class="grid1">
							<div class="index_img1">
								<img src="./images/pic5.jpg" class="img-responsive" alt="" />
							</div>
							<i class="m_home1"> </i>
							<ul class="vision">
								<li>Vision Agency</li>
								<li class="desc"><a href="#"> <img
										src="./images/star2.png" alt="">(236)
								</a></li>
							</ul>
							<div class="inner_wrap1">
								<ul class="item_module">
									<li class="module_left"><img src="./images/m2.jpg"
										class="img-responsive" alt="" /></li>
									<li class="module_right"><img src="./images/m_star1.png"
										class="img-responsive" alt="" />
										<h5>Lucy-p</h5>
										<p>"Ut wisi enim ad minim veniam, quis nostrud exerci
											tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
											commodo consequat."</p> <a href="#" class="content_btn">....read
											more</a></li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="offering">
				<h2>What can DuHoot offer to you ?</h2>
				<div class="real">
					<h4>Food And Recipe</h4>
					<div class="col-sm-6">
						<ul class="service_grid">
							<i class="s1"> </i>
							<li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
								<p>Easy and simple recipe will help you to cook your favortite food to fullfill your everyday life</p>
							</li>
							<div class="clearfix"></div>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="service_grid">
							<i class="s2"> </i>
							<li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
								<p>Find the tasty food to satisfy yout stomach</p>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer_top">
				<h3>Subscribe to our newsletter</h3>
				<form>
					<span> <i><img src="./images/mail.png" alt=""></i> <input
						type="text" value="Enter your email" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = 'Enter your email';}">
						<label class="btn1 btn2 btn-2 btn-2g"> <input
							name="submit" type="submit" id="submit" value="Subscribe">
					</label>
					</span>
				</form>
			</div>
			<div class="footer_grids">
				<div class="footer-grid">
					<h4>Corporation</h4>
					<ul class="list1">
						<li><a href="contact.html">Contact</a></li>
						<li><a href="#">group</a></li>
						<li><a href="#">develop</a></li>
						<li><a href="#">open API</a></li>
						<li><a href="#">links</a></li>
					</ul>
				</div>
				<div class="footer-grid">
					<h4>Help</h4>
					<ul class="list1">
						<li><a href="#">how to use</a></li>
						<li><a href="#">normal problem</a></li>
						<li><a href="#">about us </a></li>
						<li><a href="#">hiring</a></li>
					</ul>
				</div>
				<div class="footer-grid last_grid">
					<h4>Follow Us</h4>
					<ul class="footer_social">
						<li><a href=""> <i class="fb"> </i>
						</a></li>
						<li><a href=""><i class="tw"> </i> </a></li>
						<li><a href=""><i class="google"> </i> </a></li>
						<li><a href=""><i class="u_tube"> </i> </a></li>
					</ul>
					<div class="copy" id="contact">
						<p>
							&copy; Template by <a href="http://w3layouts.com/"
								target="_blank">W3layouts</a>
						</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</body>
</html>
